*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.active{
    color: orange !important;
}
header{
    background-color: #0E74A5;
    overflow: hidden;
}
.noNeed{
    border: none !important;
}
.leftMenu{
    width: 818px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}
.leftMenu ul{
    margin-top: 12px;
}
.leftMenu ul li{
    display: inline-block;
    list-style: none;
}
.leftMenu ul li a{
    display: inline-block;
    color: white;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: .7rem;
}
.right-menu{
    width: 292px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
}
.right-menu ul{
    margin-top: 12px;
}
.right-menu ul li{
    list-style: none;
    display: inline-block;
}
.right-menu ul li a{
    color: white;
    margin-right: 15px;
    font-size: .7rem;
}
.fa-home{
    color: orange;
    font-size: 1.1rem;
    /* margin-top: 0px; */
}
.fontSize{
    font-size: 4rem !important;
    font-family: 'Times New Roman', Times, serif;
    color:#0E74A5;;
}
.LastSize{
    color: orange;
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
}
.logoArea{
    width: 496px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    margin-top: -30px;
}
.times-phone{
    width: 614px;
    position: relative;
    overflow: hidden;
    float: left;
    /* margin-top: 18px; */
    padding: 0px 0px;
}
section{
    clear: both;
    overflow: hidden;
    padding: 50px 0px;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
}
.PhoneIcon{
    width: 60px;
    height: 60px;
    border: 1px solid rgb(206, 205, 205);
    text-align: center;
    line-height: 60px;
    font-weight: 200;
    border-radius: 50%;
    margin-right: 25px;
}
.PhoneIcon .fa-clock{
    font-weight: normal;
   
}
.PhoneIcon .fa{
    font-size: 1.2rem;
   
 
}
.primaryMenu{
    background:orange;
    position: relative;
    top: 43px;
    z-index: 55;
    width: 100%;
   
  
}
@media screen and (max-width:995px){
    .primaryMenu{
        height: 50px;
        top: 25px;
    }
}
.primaryMenu ul li{
    list-style-type: none;
    display: inline-block;
}
.primaryMenu ul li a:hover{
    color: rgba(59, 59, 59, 0.548);
}
.primaryMenu ul li a{
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.subMenu{
    position: absolute;
    z-index: 50;
    /* width: 170px; */
    height: 235px;
    background: rgba(255, 166, 0, 0.678);
    /* z-index: 555; */
    top: 64px;
    opacity: 0;
    /* overflow: hidden; */
    display: none;
    transition: .8s;
    margin: 0;
    padding: 0;
}
.subMenu li{
    display: block !important;
}
.subMenu li a{
    display: block !important;
    padding: 0 !important;
    padding: 7px 20px!important;
    border-bottom: 1px solid #b1adad;
}
.subMenu li a:hover{
    background-color: orange;
    color: rgba(0, 0, 0, 0.445);
}
.MenuArea{
    width: 100%;
    
    position: relative;
    
}
.dropdownBtn:hover .subMenu{
    opacity: 1;
    display: block;
}
.shortMenu{
    height: 118px;
}
.subDropdownMenu{
    position: absolute;
    top: 45px;
    left: 150px;
    background: rgba(255, 166, 0, 0.692);
    opacity: 0;
    display: none;
}
.subDropdownMenu li a{
    padding: 10px 0px !important;
    padding-left: 10px !important;
    width: 150px;
}
.subDropdown:hover .subDropdownMenu{
    opacity: 1;
    display: block;
}
.downPart{
    width: 100%;
    height: 64vh;
    background: url(../img/ethan-robertson-SYx3UCHZJlo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.services{
    padding-bottom: 100px;
}
.overlay-bg{
    background: rgba(0, 0, 0, 0.836);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
#select{
    width: 97%;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
}
.ourDesignH1{
    font-size: 4rem;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}
.ourDesignBtn{
    border-radius: 0px;
    background: orange;
}
.ourDesignBtn:hover{
    background: none;
    border: 1px solid white;
}
.myDesignH3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: noraml;
}
.myDesignSmall{
    font-size: 17px;
}
.myOverlay{
    width: 100%;
    background: rgba(0, 0, 0, 0.76);
    transition: 0.8s;
    padding-top:70px;
 
}
.myCard{
    width: 100%;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.8s;
    border: none;
    height: 275px;
}
.myCard:hover .myOverlay{
    opacity: 0;
}
img{
    height: 100% !important;
}
.roundedImg{
    width:150px;
    height:150px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    line-height: 150px;
    font-size: 4rem;
    background: white;
    transition: 0.8s;
    color: orange;
}
.roundedImg:hover{
    background: orange;
   
}
.roundedImg:hover .fas ,.roundedImg:hover .fa{
    color: white;
    transition: 0.5s linear 0.8s;
}
.unknownSection{
    width: 100%;
    height: auto;
    position: relative;
    background: #f5f5f5;
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}


.roundatdImg{
    width: 100px;
    height: 100px;
    background: url(../img/gettyimages-891418990-612x612.jpg);
    border-radius: 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.testmonial{
    background: linear-gradient(to bottom right, #0E74A5, #4FB5F5);
    font-family: 'Times New Roman', Times, serif;
    padding:80px 0px;
}

.lead{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.fa-quote-left{
    position: absolute;
    left: 8px;
    top: 5px;
    font-size: 2rem;
    opacity: 0.2;
    color: gray
}
.myCardBody{
    padding: 0.9rem !important;
    padding-bottom: 0 !important;
}
.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 32.333%;
}
.ourDesignBtn1{
    background:orange;
    color: white;
    border-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.ourDesignBtn1:hover{
    background:none;
    border: 1px solid black;
    color: black;

}
.fa-tag,.fa-user{
    font-size: 12px;
}
span{
   font-size: 13px;
}
.myDesignP{
    font-size: 17px;
}
.servicesLong{
   position: relative;
   overflow: hidden;
}
.myDesignh4{
    font-family: 'Times New Roman', Times, serif;
}
.phone{
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 70px;
}
.phone .fa-phone,.phone .fa-envelope,.phone .fa-map-marker-alt{
    font-size: 1.5rem;
    color: rgb(20, 141, 255);
}
.get-in-touch{
    background: linear-gradient(to bottom right, #0E74A5, #4FB5F5) ;
    padding: 100px 0px;
    padding-bottom:70px;
    overflow: hidden;
}
.fontChange{
    font-family: 'Times New Roman', Times, serif;
}
.icons{
    width: 50px;
    height: 50px;
    border: 1px solid;
    text-align: center;
    line-height: 50px;
    background: #0E74A5;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}
    
.icons a{
    color: white;
    text-decoration: none;
    
}
.icons:hover{
    background:tomato;
}
.ulSection li{
    border-bottom: 1px solid rgb(233, 232, 230);
}
.ulSection li a{
    color: orange;
}
.form-group input{
    background: #0E74A5;
    border-radius: 0px;
    color: white;
    box-shadow: none;
}
::placeholder{
   color: white !important;
}
.noRadius{
    border-radius: 0px;
    color: white;
}
.footerContent{
    overflow: hidden;
}
.scrollTop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: orange;
    text-align: center;
    border-radius: 2px;
    line-height: 40px;
    box-shadow: 1px 1px 12px rgb(175, 173, 173);
    opacity: 0;
    transition: 0.5s;
}
.scrollTop .fas{
    font-size: 1.5rem;
    color: white;

}
#box{
z-index: 5;
  position: absolute;
  pointer-events: none;
  
   
}
.show{
    display:block !important;
   transform: scale(1) !important;
}
#box .fas,#box .fa{
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 14px rgb(0, 0, 0);
    padding: 12px;
    display: none;
    transition: 1s;
    transform: scale(0);
  
}
body{
    cursor: pointer;
}
.GalleryPages{
    width: 100%;
    height:270px;
    position: relative;
    overflow: hidden;
    background: url(../img/elijah-hiett-umfpFoKxIVg-unsplash.jpg);
}
.overlayer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
    top: 0;
    left: 0;
}
.margin-top{
    
    margin-top: 170px;
    font-family: 'Times New Roman', Times, serif;
}
.myDesignUl li{
    display: inline-block;
    padding-right: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.myDesignUl li a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imgBox{
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
}
.imgBox img{
    width: 100%;
   
}
.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 1 0 16.666667%;
    max-width: 23.667%;
}