*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    background: var(--body-color);
    color: var(--text-color);
    user-select: none;
}

section {
    padding: 5rem 0rem;

    @media (max-width: 500px) {
        padding: 1rem 0rem;
    }
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
    margin: auto;
    // background: var(--container-color);
    padding: 0rem 2rem;

    @media (min-width: 768px) {
        max-width: 1000px;
        padding: 0rem 0rem;
    }

    @media (max-width: 500px) {
        padding: 0rem 1rem;
    }
}

svg.svg__color {
    fill: var(--first-color);
}

path.svg__blob {
    fill: var(--first-color-lighten);
}

@mixin buttonStyle {
    background: var(--first-color);
    display: inline-block;
    color: var(--title-color);
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    transition: 0.3s;
    font-weight: var(--font-weight-bold);

    @media (max-width: 768px) {
        padding: .75rem .8rem;
    }

    &:hover {
        background: var(--first-color-alt);
    }
}

*::-webkit-scrollbar-thumb {
    background: var(--first-color);
}

*::-webkit-scrollbar {
    width: 6px;
    background: rgb(165, 165, 165);
    box-shadow: 0rem 0rem 2rem rgba(180, 180, 180, 0.534);
}

*::-moz-scrollbar-thumb {
    background: var(--first-color);
}

*::-moz-scrollbar {
    width: 6px;
    background: rgb(165, 165, 165);
    box-shadow: 0rem 0rem 2rem rgba(180, 180, 180, 0.534);
}

*::-webkit-scrollbar-track {
    width: 0px;
}

.scrollup {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 1;
    right: 50px;
    bottom: -60px;
    background: var(--first-color-alt);
    display: grid;
    place-items: center;
    color: var(--title-color);
    border-radius: .2rem;
    cursor: pointer;
    transition: 0.3s;
    i {
        font-size: 1.4rem;
    }
}
.scrollup.active{
    bottom: 60px;
}